{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionAsignatura/"
method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <b><center><h1>EDITAR ASIGNATURA</h1></center></b>
      <input type="hidden" name="idAsignaturaKACA"  value="{{asignatura.idAsignaturaKACA}}">
      <b>Curso</b>
        <br>
        <select class="form-control" name="idCursoKACA" id="idCursoKACA" required>
          <option>Seleccione un curso</option>
          {% for curso in curso %}
          <option value="{{curso.idCursoKACA}}">{{curso.nivelCursoKACA}}</option>
          {% endfor %}
        </select>
        <script type="text/javascript">
          document.getElementById("idCursoKACA").value="{{asignatura.curso.idCursoKACA}}";
        </script>
        <br>
        <br>
        <br>
        <b>Nombre de la asignatura</b>
        <input type="text" name="nombreAsignaturaKACA" id="nombreAsignaturaKACA" placeholder="Ingrese el nombre de la asignatura" value="{{asignatura.nombreAsignaturaKACA}}" class="form-control" required>
        <br>
        <b>Creditos</b>
        <input type="number" name="creditosAsignaturaKACA" id="creditosAsignaturaKACA" value="{{asignatura.creditosAsignaturaKACA}}" placeholder="Ingrese los creditos" class="form-control" required>
        <br>
        <b>Fecha de inicio</b>
        <input type="date" name="fechaInicioAsignaturaKACA" id="fechaInicioAsignaturaKACA" value="{{asignatura.fechaInicioAsignaturaKACA|date:'Y-m-d'}}" placeholder="Seleccione la fecha de inicio" class="form-control" required>
        <br>
        <b>Fecha de finalizacion</b>
        <input type="date" name="fechaFinalizacionAsignaturaKACA" id="fechaFinalizacionAsignaturaKACA" value="{{asignatura.fechaFinalizacionAsignaturaKACA|date:'Y-m-d'}}" placeholder="Seleccione la fecha de finalizacion" class="form-control" required>
        <br>
        <b>Profesor</b>
        <input type="text" name="profesorAsignaturaKACA" id="profesorAsignaturaKACA" value="{{asignatura.profesorAsignaturaKACA}}" placeholder="Ingrese el nombre del profesor" class="form-control" required>
        <br>
        <b>Silabo</b>
        <input type="file" name="silaboAsignaturaKACA" id="silaboAsignaturaKACA" class="form-control" accept="pdf/*" value="{{asignatura.silaboAsignaturaKACA}}">
        <br>
        <center>
        <button type="submit" name="button"
        class="btn btn-warning">
          &nbsp;&nbsp;&nbsp;Editar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
















<!--  -->
