{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionCarrera/"
method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <b><center><h1>EDITAR CARRERA</h1></center></b>
      <input type="hidden" name="idCarreraKACA"  value="{{carrera.idCarreraKACA}}">
      <b>Nombre de la carrera</b>
        <input type="text" name="nombreCarreraKACA" id="nombreCarreraKACA" placeholder="Ingrese el nombre de la carrera" value="{{carrera.nombreCarreraKACA}}" class="form-control" required>
        <br>
        <b>Director de la carrera</b>
        <input type="text" name="directorCarreraKACA" id="directorCarreraKACA" placeholder="Ingrese el nombre del director de carrera" value="{{carrera.directorCarreraKACA}}" class="form-control" required>
        <br>
        <b>Logo</b>
        <input type="file" name="logoCarreraKACA" id="logoCarreraKACA" class="form-control" accept="image/*" value="{{carrera.logoCarreraKACA}}" >
        <br>
        <b>Facultad</b>
        <input type="text" name="facultadCarreraKACA" id="facultadCarreraKACA" placeholder="Ingrese el nombre de la facultad" value="{{carrera.facultadCarreraKACA}}" class="form-control" required>
        <br>
        <b>Descripcion</b>
        <input type="text" name="descripcionCarreraKACA" id="descripcionCarreraKACA" placeholder="Ingrese una descripcion de la carrera" value="{{carrera.descripcionCarreraKACA}}" class="form-control" required>
        <br>
        <center>
        <button type="submit" name="button"
        class="btn btn-warning">
          &nbsp;&nbsp;&nbsp;Editar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>


{% endblock %}


