{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionCurso/"
method="post">
      {% csrf_token %}
      <b><center><h1>EDITAR CURSO</h1></center></b>
      <br>
      <b>Carrera</b>
        <br>
        <select class="form-control" name="idCarreraKACA" id="idCarreraKACA" required>
          <option>Seleccione la carrera</option>
          {% for carrera in carrera %}
          <option value="{{carrera.idCarreraKACA}}">{{carrera.nombreCarreraKACA}}</option>
          {% endfor %}
        </select>
        <script type="text/javascript">
          document.getElementById("idCarreraKACA").value="{{curso.carrera.idCarreraKACA}}";
        </script>
        <br>
        <input type="hidden" name="idCursoKACA"  value="{{curso.idCursoKACA}}">
        <br>
        <b>Nivel del curso</b>
        <input type="text" name="nivelCursoKACA" id="nivelCursoKACA" placeholder="Ingrese el nivel del curso" class="form-control" value="{{curso.nivelCursoKACA}}" required>
        <br>
        <b>Descripcion del curso</b>
        <input type="text" name="descripcionCursoKACA" id="descripcionCursoKACA" placeholder="Ingrese una descripcion del curso" class="form-control" value="{{curso.descripcionCursoKACA}}" required>
        <br>
        <b>Aula</b>
        <input type="number" name="aulaCursoKACA" id="aulaCursoKACA"  placeholder="Ingrese el aula del curso" class="form-control" value="{{curso.aulaCursoKACA}}" required>
        <br>
        <b>Numero de mesas</b>
        <input type="number" name="numeromesasCursoKACA" id="numeromesasCursoKACA" value="{{curso.numeromesasCursoKACA}}" placeholder="Ingrese el numero de mesas" class="form-control" required>
        <br>
        <b>Bloque</b>
        <input type="text" name="bloqueCursoKACA" id="bloqueCursoKACA" value="{{curso.bloqueCursoKACA}}" placeholder="Ingrese el bloque" class="form-control" required>
        <br>
        <center>
        <button type="submit" name="button"
        class="btn btn-warning">
          &nbsp;&nbsp;&nbsp;Editar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
















<!--  -->
