{% extends "./plantilla.html" %}
{% block contenido %}

    <br>
    <div class="row">
    <div class="col-md-4">
        <center><h2>Enviar Correo</h2></center>
        <center><form method="post" action="{% url 'enviar_correo' %}">
            {% csrf_token %}
            <label for="destinatario">Destinatario:</label><br>
            <input class="input1" type="email" name="destinatario" placeholder="Ingrese correo destinatario" required><br>
            <label for="asunto">Asunto:</label><br>
            <input class="input1" type="text" name="asunto" placeholder="Ingrese un asunto" required><br>
            <label for="cuerpo">Mensaje:</label><br>
            <textarea name="cuerpo" placeholder="Ingrese un mensaje" required></textarea><br><br>
            <input class="input1" type="submit" value="Enviar Correo">
        </form></center> 
    </div>
    </div>
    <br>
    <br>      

{% endblock %}