{% extends "./plantilla.html" %}
{% block contenido %}
  
  <br>
  <div class="row">
    <div class="col-md-4">
      <center><b><h1><i class="fa-solid fa-mountain-sun"></i>AGREGAR CARRERA</h1></b></center>
      <form class="" action="/guardarCarrera/" method="post" enctype="multipart/form-data" id="frm_nuevo_carrera">
        {% csrf_token %}
        <b>Nombre de la carrera</b>
        <input type="text" name="nombreCarreraKACA" id="nombreCarreraKACA" placeholder="Ingrese el nombre de la carrera" class="form-control" required>
        <br>
        <b>Director de la carrera</b>
        <input type="text" name="directorCarreraKACA" id="directorCarreraKACA" placeholder="Ingrese el nombre del director de carrera" class="form-control" required>
        <br>
        <b>Logo</b>
        <input type="file" name="logoCarreraKACA" id="logoCarreraKACA" class="form-control" accept="image/*">
        <br>
        <b>Facultad</b>
        <input type="text" name="facultadCarreraKACA" id="facultadCarreraKACA" value="" placeholder="Ingrese el nombre de la facultad" class="form-control" required>
        <br>
        <b>Descripcion</b>
        <input type="text" name="descripcionCarreraKACA" id="descripcionCarreraKACA" value="" placeholder="Ingrese una descripcion de la carrera" class="form-control" required>
        <br>
        <center>
          <button href="javascript:void(0)" onclick="guardarCarrera('/guardarCarrera/{{carrera.idCarreraKACA}}');" type="submit" name="button" class="btn btn-primary">
          &nbsp; &nbsp; &nbsp; Guardar &nbsp; &nbsp; &nbsp;
        </button>&nbsp; &nbsp; &nbsp; &nbsp;
        <button type="reset" name="button" class="btn btn-danger">Cancelar</button>
        </center>
      </form>
      
    </div>
    <div class="col-md-8">
      <center><b><h1><i class="fa-solid fa-mountain-sun"></i>LISTA DE CARRERAS</h1></b></center>
      <br>
      <center><img style="width: 120px " height="120px" src="https://un.edu.mx/wp-content/uploads/2021/03/Universidad-del-Norte-conclusion-subtitulo.png"></center>
      <table class="table table-dark" id="tbl_carrera">
        <thead>
          <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>DIRECTOR</th>
            <th>LOGO</th>
            <th>FACULTAD</th>
            <th>DESCRIPCION</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          {% for carrera in carrera %}
          <tr>
            <td>{{carrera.idCarreraKACA}}</td>
            <td>{{carrera.nombreCarreraKACA}}</td>
            <td>{{carrera.directorCarreraKACA}}</td>
            <td>
              {% if carrera.logoCarreraKACA %}
              <a href="{{carrera.logoCarreraKACA.url}}" target="_blank"></a>
                <img src="{{carrera.logoCarreraKACA.url}}" height="70px">
              {% else %}
                <b>N/A</b>
              {% endif %}
            </td>
            <td>{{carrera.facultadCarreraKACA}}</td>
            <td>{{carrera.descripcionCarreraKACA}}</td>
            <td>
              <a href="/editarCarrera/{{carrera.idCarreraKACA}}" class="btn btn-warning">Editar</a>
              <a href="javascript:void(0)" onclick="eliminarCarrera('/eliminarCarrera/{{carrera.idCarreraKACA}}');" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <br>
  <div class="col-md-12">
      <center><b><h1><i class="fa-solid fa-mountain-sun"></i>DISTRIBUCIÓN DE CARRERAS POR FACULTAD</h1></b></center>
      <div style="width: 80%; margin: auto;">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>

<script type="text/javascript">
       //let table = new DataTable('#tbl_clientes');
        $('#tbl_carrera').DataTable( {
            "language": {
              "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
           },
          dom: 'Bfrtip',
          buttons: [
              {
                  extend: 'pdfHtml5',
                  messageTop: 'PDF created by PDFMake with Buttons for DataTables.',
                  className: 'pdf-button'
              },
              {
                  extend: 'print',
                  className: 'print-button'
              },
              {
                  extend: 'csv',
                  className: 'csv-button'
              }             
          ]
        } );
      </script>
      <script>
              $("#logoCarreraKACA").fileinput({
                //showUpload:false
                //showRemove: false,
                language:'es',
              });
        </script>

      <script>
          document.addEventListener('DOMContentLoaded', function () {
            const ctxFacultad = document.getElementById('myChartFacultad');
            const facultadesSet = new Set();
            const carrerasFacultad = {};

            {% for carrera in carrera %}
              facultadesSet.add("{{ carrera.facultadCarreraKACA }}");
              if (!carrerasFacultad["{{ carrera.facultadCarreraKACA }}"]) {
                carrerasFacultad["{{ carrera.facultadCarreraKACA }}"] = 1;
              } else {
                carrerasFacultad["{{ carrera.facultadCarreraKACA }}"] += 1;
              }
            {% endfor %}

            const facultadesArray = Array.from(facultadesSet);
            const posicionesFacultad = facultadesArray.map((facultad, index) => ({ x: index, y: carrerasFacultad[facultad] || 0 }));

            new Chart(ctxFacultad, {
              type: 'bar',
              data: {
                labels: facultadesArray,
                datasets: [{
                  label: 'Cantidad de Carreras',
                  data: posicionesFacultad.map(posicion => posicion.y),
                  backgroundColor: 'rgba(75, 192, 192, 0.5)', 
                  borderColor: 'rgba(75, 192, 192, 1)', 
                  borderWidth: 1, 
                }]
              },
              options: {
                scales: {
                  x: {
                    type: 'category',
                    position: 'bottom',
                  },
                  y: {
                    beginAtZero: true,
                    stepSize: 1,
                  }
                }
              }
            });
          });
        </script>
  
   
{% endblock %}



