{% extends "./plantilla.html" %}
{% block contenido %}
  
  <br>
  <div class="row">
    <div class="col-md-3">
      <center><b><h1><i class="fa-solid fa-mountain-sun"></i>AGREGAR ASIGNATURA</h1></b></center>
      <form class="" action="/guardarAsignatura/" method="post" enctype="multipart/form-data" id="frm_nuevo_asignatura">
        {% csrf_token %}
        <b>Curso</b>
        <br>
        <select class="form-control" name="idCursoKACA" id="idCursoKACA" required>
          <option>Seleccione un curso</option>
          {% for curso in curso %}
          <option value="{{curso.idCursoKACA}}">{{curso.nivelCursoKACA}}</option>
          {% endfor %}
        </select>
        <br>
        <br>
        <br>
        <b>Nombre de la asignatura</b>
        <input type="text" name="nombreAsignaturaKACA" id="nombreAsignaturaKACA" placeholder="Ingrese el nombre de la asignatura" class="form-control" required>
        <br>
        <b>Creditos</b>
        <input type="number" name="creditosAsignaturaKACA" id="creditosAsignaturaKACA" value="" placeholder="Ingrese los creditos" class="form-control" required>
        <br>
        <b>Fecha de inicio</b>
        <input type="date" name="fechaInicioAsignaturaKACA" id="fechaInicioAsignaturaKACA" value="" placeholder="Seleccione la fecha de inicio" class="form-control" required>
        <br>
        <b>Fecha de finalizacion</b>
        <input type="date" name="fechaFinalizacionAsignaturaKACA" id="fechaFinalizacionAsignaturaKACA" value="" placeholder="Seleccione la fecha de finalizacion" class="form-control" required>
        <br>
        <b>Profesor</b>
        <input type="text" name="profesorAsignaturaKACA" id="profesorAsignaturaKACA" value="" placeholder="Ingrese el nombre del profesor" class="form-control" required>
        <br>
        <b>Silabo</b>
        <input type="file" name="silaboAsignaturaKACA" id="silaboAsignaturaKACA" class="form-control" accept="pdf/*">
        <br>
        <center>
          <button href="javascript:void(0)" onclick="guardarAsignatura('/guardarAsignatura/{{asignaturaKACA.idAsignaturaKACA}}');" type="submit" name="button" class="btn btn-primary">
          &nbsp; &nbsp; &nbsp; Guardar &nbsp; &nbsp; &nbsp;
        </button>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <button type="reset" name="button" class="btn btn-danger">Cancelar</button>
        </center>
      </form>
      
    </div>
    <div class="col-md-9">
      <center><b><h1><i class="fa-solid fa-mountain-sun"></i>LISTA DE ASIGNATURAS</h1></b></center>
      <br>
      <center><img style="width: 120px " height="120px" src="https://cdn-icons-png.flaticon.com/512/5526/5526535.png"></center>
      <table class="table table-dark" id="tbl_asignatura">
        <thead>
          <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>CREDITOS</th>
            <th>FECHA DE INICIO</th>
            <th>FECHA DE FINALIZACION</th>
            <th>PROFESOR</th>
            <th>SILABO</th>
            <th>CURSO</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          {% for asignatura in asignatura %}
          <tr>
            <td>{{asignatura.idAsignaturaKACA}}</td>
            <td>{{asignatura.nombreAsignaturaKACA}}</td>
            <td>{{asignatura.creditosAsignaturaKACA}}</td>
            <td>{{asignatura.fechaInicioAsignaturaKACA}}</td>
            <td>{{asignatura.fechaFinalizacionAsignaturaKACA}}</td>
            <td>{{asignatura.profesorAsignaturaKACA}}</td>
            <td>{{asignatura.silaboAsignaturaKACA}}</td>
            <td>{{asignatura.curso.nivelCursoKACA}}</td>
            <td>
              <a href="/editarAsignatura/{{asignatura.idAsignaturaKACA}}" class="btn btn-warning">Editar</a>
              <a href="javascript:void(0)" onclick="eliminarAsignatura('/eliminarAsignatura/{{asignatura.idAsignaturaKACA}}');" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <br>
  <script type="text/javascript">
       //let table = new DataTable('#tbl_clientes');
        $('#tbl_asignatura').DataTable( {
            "language": {
              "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
           },
          dom: 'Bfrtip',
          buttons: [
              {
                  extend: 'pdfHtml5',
                  messageTop: 'PDF created by PDFMake with Buttons for DataTables.',
                  className: 'pdf-button'
              },
              {
                  extend: 'print',
                  className: 'print-button'
              },
              {
                  extend: 'csv',
                  className: 'csv-button'
              }             
          ]
        } );
      </script>
      <script>
              $("#silaboAsignaturaKACA").fileinput({
                //showUpload:false
                //showRemove: false,
                language:'es',
              });
        </script>
   
{% endblock %}

