{% extends "./plantilla.html" %}
{% block contenido %}
  
  <br>
  <div class="row">
    <div class="col-md-4">
      <center><b><h1><i class="fa-solid fa-mountain-sun"></i>AGREGAR CURSO</h1></b></center>
      <form class="" action="/guardarCurso/" method="post" enctype="multipart/form-data" id="frm_nuevo_curso">
        {% csrf_token %}
        <b>Carrera</b>
        <br>
        <select class="form-control" name="idCarreraKACA" id="idCarreraKACA" required>
          <option>Seleccione la carrera</option>
          {% for carrera in carrera %}
          <option value="{{carrera.idCarreraKACA}}">{{carrera.nombreCarreraKACA}}</option>
          {% endfor %}
        </select>
        <br>
        <br>
        <br>
        <b>Nivel del curso</b>
        <input type="text" name="nivelCursoKACA" id="nivelCursoKACA" placeholder="Ingrese el nivel del curso" class="form-control" required>
        <br>
        <b>Descripcion del curso</b>
        <input type="text" name="descripcionCursoKACA" id="descripcionCursoKACA" value="" placeholder="Ingrese una descripcion del curso" class="form-control" required>
        <br>
        <b>Aula</b>
        <input type="number" name="aulaCursoKACA" id="aulaCursoKACA" value="" placeholder="Ingrese el aula del curso" class="form-control" required>
        <br>
        <b>Numero de estudiantes</b>
        <input type="number" name="numeromesasCursoKACA" id="numeromesasCursoKACA" value="" placeholder="Ingrese el numero de estudiantes" class="form-control" required>
        <br>
        <b>Bloque</b>
        <input type="text" name="bloqueCursoKACA" id="bloqueCursoKACA" value="" placeholder="Ingrese el bloque" class="form-control" required>
        <br>
        <center>
          <button href="javascript:void(0)" onclick="guardarCurso('/guardarCurso/{{cursoKACA.idCursoKACA}}');" type="submit" name="button" class="btn btn-primary">
          &nbsp; &nbsp; &nbsp; Guardar &nbsp; &nbsp; &nbsp;
        </button>&nbsp; &nbsp; &nbsp; &nbsp;
        <button type="reset" name="button" class="btn btn-danger">Cancelar</button>
        </center>
      </form>
      
    </div>
    <div class="col-md-8">
      <center><b><h1><i class="fa-solid fa-mountain-sun"></i>LISTA DE CURSOS</h1></b></center>
      <br>
      <center><img style="width: 130px " height="130px" src="https://fiveringsacademy.com/wp-content/uploads/2023/07/1.png"></center>
      <table class="table table-dark" id="tbl_curso">
        <thead>
          <tr>
            <th>ID</th>
            <th>NIVEL</th>
            <th>DESCRIPCION</th>
            <th>AULA</th>
            <th>NUMERO DE ESTUDIANTES</th>
            <th>BLOQUE</th>
            <th>CARRERA</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          {% for curso in curso %}
          <tr>
            <td>{{curso.idCursoKACA}}</td>
            <td>{{curso.nivelCursoKACA}}</td>
            <td>{{curso.descripcionCursoKACA}}</td>
            <td>{{curso.aulaCursoKACA}}</td>
            <td>{{curso.numeromesasCursoKACA}}</td>
            <td>{{curso.bloqueCursoKACA}}</td>
            <td>{{curso.carrera.nombreCarreraKACA}}</td>
            <td>
              <a href="/editarCurso/{{curso.idCursoKACA}}" class="btn btn-warning">Editar</a>
              <a href="javascript:void(0)" onclick="eliminarCurso('/eliminarCurso/{{curso.idCursoKACA}}');" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <br>

  <script type="text/javascript">
       //let table = new DataTable('#tbl_clientes');
        $('#tbl_curso').DataTable( {
            "language": {
              "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
           },
          dom: 'Bfrtip',
          buttons: [
              {
                  extend: 'pdfHtml5',
                  messageTop: 'PDF created by PDFMake with Buttons for DataTables.',
                  className: 'pdf-button'
              },
              {
                  extend: 'print',
                  className: 'print-button'
              },
              {
                  extend: 'csv',
                  className: 'csv-button'
              }             
          ]
        } );
      </script>
   
{% endblock %}

